<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>18/02/01 19:22:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.displayMessage()[pri:0, instance:NewTest@523884b2]">displayMessage</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/02/01 19:22:23</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.setUp()[pri:0, instance:NewTest@523884b2]">setUp</td> 
  <td>main@1454127753</td>   <td></td> </tr>
</table>
